extends layout

block content
  body
    h1= title
      br
      br 
      div 
        label Name:
        p1=pet.Name
      div 
        label Avatar
        br 
        - var url= pet.Avatar 
        img.image(src=url width="160" height="160" alt="Image of Pets")
      br 
      div 
        label Description
        br 
        p1=pet.Description
      br 
      div 
        label CreatedDate
        br 
        p1=pet.CreatedDate
      br 
      div 
        label UpdatedDate
        br 
        p1=pet.UpdatedDate
      br 
    a(href="/pets/list") Back to list
    
