extends layout


block content
  script(src='/javascripts/app.js')
  h1= title
  a(type="button" href="/pets/add") A new Pet
  table
    tr
      th Id
      th Name
      th Avatar 
      th Description 
      th CreatedDate 
      th UpdatedDate 
      th Action 
    each value in pets
      tr
        td= value._id
        td
          a(href="/pets/show/"+value._id)=value.Name
        td 
          - var url= value.Avatar 
          img.image(src=url width="80" height="80" alt="Image of Pets")
        td= value.Description
        td= value.CreatedDate
        td= value.UpdatedDate
        td 
          form(method='POST' action='/pets/delete/'+value._id)
            button(type="submit" onClick="deletePet()") Delete
          form(method='GET' action='/pets/edit/'+value._id)
            button(type="submit") Edit
        
    